body {
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background:whitesmoke;
}

.todo {
    background:yellow;
}

.container-narrow {
    margin: 0 auto;
    background:white;
    border-radius: 10px;
    padding:10px;
}

.sweet-sidebar {
    background:whitesmoke;
    border-radius: 10px;
    padding: 20px;
}

.form_field {
    padding: 10px;
}

.form_field label {
    margin-bottom:0px;
}

.form_field input {
    width: 90%;
    clear:both;
}

.form_field textarea {
    width: 90%;

}

.halfwidth {
    width: 45%;
    padding: 10px;
    float: left;
}

.thirdwidth {
    width: 25%;
    padding: 10px;
    float: left;
}
