<option value="Activist">Activist</option>
<option value="Auditor">Auditor</option>
<option value="Competitor">Competitor</option>
<option value="Customer">Customer</option>
<option value="Force majeure">Force Majeure</option>
<option value="Former employee">Former Employee</option>
<option value="Nation-state">Nation-State</option>
<option value="Organized crime">Organized Crime</option>
<option value="Acquaintance">Acquaintance</option>
<option value="State-sponsored">State-Sponsored</option>
<option value="Terrorist">Terrorist</option>
<option value="Unaffiliated">Unaffiliated<option>
<option value="Unknown">Unknown</option>
<option value="Other">Other</option>
