<option value="S - Authentication">Authentication</option>
<option value="S - Backup">Backup</option>
<option value="S - Database">Database</option>
<option value="S - DHCP">DHCP</option>
<option value="S - Directory">Directory</option>
<option value="S - DCS">DCS</option>
<option value="S - DNS">DNS</option>
<option value="S - File">File</option>
<option value="S - Log">Log</option>
<option value="S - Mail">Mail</option>
<option value="S - Mainframe">Mainframe</option>
<option value="S - Payment switch">Payment switch</option>
<option value="S - POS controller">POS controller</option>
<option value="S - Print">Print</option>
<option value="S - Proxy">Proxy</option>
<option value="S - Remote access">Remote access</option>
<option value="S - SCADA">SCADA</option>
<option value="S - Web application">Web application</option>
<option value="S - VM host">VM host</option>
<option value="S - Other server">Other server</option>
