<input type="checkbox" name="asset_s_Administrator">Administrator <input type="text" name="asset_s_Administrator_count"><br>
<input type="checkbox" name="asset_s_Auditor">Auditor <input type="text" name="asset_s_Auditor_count"><br>
<input type="checkbox" name="asset_s_Call center">Call center <input type="text" name="asset_s_Call center_count"><br>
<input type="checkbox" name="asset_s_Cashier">Cashier <input type="text" name="asset_s_Cashier_count"><br>
<input type="checkbox" name="asset_s_Customer">Customer <input type="text" name="asset_s_Customer_count"><br>
<input type="checkbox" name="asset_s_Developer">Developer <input type="text" name="asset_s_Developer_count"><br>
<input type="checkbox" name="asset_s_End-user">End-user <input type="text" name="asset_s_End-user_count"><br>
<input type="checkbox" name="asset_s_Executive">Executive <input type="text" name="asset_s_Executive_count"><br>
<input type="checkbox" name="asset_s_Finance">Finance <input type="text" name="asset_s_Finance_count"><br>
<input type="checkbox" name="asset_s_Former employee">Former employee <input type="text" name="asset_s_Former employee_count"><br>
<input type="checkbox" name="asset_s_Guard">Guard <input type="text" name="asset_s_Guard_count"><br>
<input type="checkbox" name="asset_s_Helpdesk">Helpdesk <input type="text" name="asset_s_Helpdesk_count"><br>
<input type="checkbox" name="asset_s_Human resources">Human resources <input type="text" name="asset_s_Human resources_count"><br>
<input type="checkbox" name="asset_s_Maintenance">Maintenance <input type="text" name="asset_s_Maintenance_count"><br>
<input type="checkbox" name="asset_s_Manager">Manager <input type="text" name="asset_s_Manager_count"><br>
<input type="checkbox" name="asset_s_Partner">Partner <input type="text" name="asset_s_Partner_count"><br>
<input type="checkbox" name="asset_s_Other">Other <input type="text" name="asset_s_Other_count"><br>
