<input type="checkbox" name="asset_s_ATM">ATM <input type="text" name="asset_s_ATM_count"><br>
<input type="checkbox" name="asset_s_Desktop">Desktop <input type="text" name="asset_s_Desktop_count"><br>
<input type="checkbox" name="asset_s_PED pad">PED pad <input type="text" name="asset_s_PED pad_count"><br>
<input type="checkbox" name="asset_s_Gas terminal">Gas terminal <input type="text" name="asset_s_Gas terminal_count"><br>
<input type="checkbox" name="asset_s_Laptop">Laptop <input type="text" name="asset_s_Laptop_count"><br>
<input type="checkbox" name="asset_s_Media">Media <input type="text" name="asset_s_Media_count"><br>
<input type="checkbox" name="asset_s_Mobile phone">Mobile phone <input type="text" name="asset_s_Mobile phone_count"><br>
<input type="checkbox" name="asset_s_Peripheral">Peripheral <input type="text" name="asset_s_Peripheral_count"><br>
<input type="checkbox" name="asset_s_POS terminal">POS terminal <input type="text" name="asset_s_POS terminal_count"><br>
<input type="checkbox" name="asset_s_Kiosk">Kiosk <input type="text" name="asset_s_Kiosk_count"><br>
<input type="checkbox" name="asset_s_Tablet">Tablet <input type="text" name="asset_s_Tablet_count"><br>
<input type="checkbox" name="asset_s_Telephone">Telephone <input type="text" name="asset_s_Telephone_count"><br>
<input type="checkbox" name="asset_s_VoIP phone">VoIP phone <input type="text" name="asset_s_VoIP phone_count"><br>
<input type="checkbox" name="asset_s_Other">Other <input type="text" name="asset_s_Other_count"><br>
