<input type="checkbox" name="asset_s_Access reader">Access reader <input type="text" name="asset_s_Access reader_count"><br>
<input type="checkbox" name="asset_s_Camera">Camera <input type="text" name="asset_s_Camera_count"><br>
<input type="checkbox" name="asset_s_Firewall">Firewall <input type="text" name="asset_s_Firewall_count"><br>
<input type="checkbox" name="asset_s_HSM">HSM <input type="text" name="asset_s_HSM_count"><br>
<input type="checkbox" name="asset_s_IDS">IDS <input type="text" name="asset_s_IDS_count"><br>
<input type="checkbox" name="asset_s_Broadband">Broadband <input type="text" name="asset_s_Broadband_count"><br>
<input type="checkbox" name="asset_s_PBX">PBX <input type="text" name="asset_s_PBX_count"><br>
<input type="checkbox" name="asset_s_Private WAN">Private WAN <input type="text" name="asset_s_Private WAN_count"><br>
<input type="checkbox" name="asset_s_PLC">PLC <input type="text" name="asset_s_PLC_count"><br>
<input type="checkbox" name="asset_s_Public WAN">Public WAN <input type="text" name="asset_s_Public WAN_count"><br>
<input type="checkbox" name="asset_s_RTU">RTU <input type="text" name="asset_s_RTU_count"><br>
<input type="checkbox" name="asset_s_Router or switch">Router or switch <input type="text" name="asset_s_Router or switch_count"><br>
<input type="checkbox" name="asset_s_SAN">SAN <input type="text" name="asset_s_SAN_count"><br>
<input type="checkbox" name="asset_s_Telephone">Telephone <input type="text" name="asset_s_Telephone_count"><br>
<input type="checkbox" name="asset_s_VoIP adapter">VoIP adapter <input type="text" name="asset_s_VoIP adapter_count"><br>
<input type="checkbox" name="asset_s_LAN">LAN <input type="text" name="asset_s_LAN_count"><br>
<input type="checkbox" name="asset_s_WLAN">WLAN <input type="text" name="asset_s_WLAN_count"><br>
<input type="checkbox" name="asset_s_Other">Other <input type="text" name="asset_s_Other_count"><br>
<input type="checkbox" name="asset_s_Auth token">Auth token <input type="text" name="asset_s_Auth token_count"><br>
