<input type="checkbox" name="asset_s_Authentication">Authentication <input type="text" name="asset_s_Authentication_count"><br>
<input type="checkbox" name="asset_s_Backup">Backup <input type="text" name="asset_s_Backup_count"><br>
<input type="checkbox" name="asset_s_Database">Database <input type="text" name="asset_s_Database_count"><br>
<input type="checkbox" name="asset_s_DHCP">DHCP <input type="text" name="asset_s_DHCP_count"><br>
<input type="checkbox" name="asset_s_Directory">Directory <input type="text" name="asset_s_Directory_count"><br>
<input type="checkbox" name="asset_s_DCS">DCS <input type="text" name="asset_s_DCS_count"><br>
<input type="checkbox" name="asset_s_DNS">DNS <input type="text" name="asset_s_DNS_count"><br>
<input type="checkbox" name="asset_s_File">File <input type="text" name="asset_s_File_count"><br>
<input type="checkbox" name="asset_s_Log">Log <input type="text" name="asset_s_Log_count"><br>
<input type="checkbox" name="asset_s_Mail">Mail <input type="text" name="asset_s_Mail_count"><br>
<input type="checkbox" name="asset_s_Mainframe">Mainframe <input type="text" name="asset_s_Mainframe_count"><br>
<input type="checkbox" name="asset_s_Payment switch">Payment switch <input type="text" name="asset_s_Payment switch_count"><br>
<input type="checkbox" name="asset_s_POS controller">POS controller <input type="text" name="asset_s_POS controller_count"><br>
<input type="checkbox" name="asset_s_Print">Print <input type="text" name="asset_s_Print_count"><br>
<input type="checkbox" name="asset_s_Proxy">Proxy <input type="text" name="asset_s_Proxy_count"><br>
<input type="checkbox" name="asset_s_Remote access">Remote access <input type="text" name="asset_s_Remote access_count"><br>
<input type="checkbox" name="asset_s_SCADA">SCADA <input type="text" name="asset_s_SCADA_count"><br>
<input type="checkbox" name="asset_s_Web application">Web application <input type="text" name="asset_s_Web application_count"><br>
<input type="checkbox" name="asset_s_VM host">VM host <input type="text" name="asset_s_VM host_count"><br>
<input type="checkbox" name="asset_s_Other server">Other server <input type="text" name="asset_s_Other server_count"><br>
