<input type="checkbox" name="asset_s_Tapes">Tapes <input type="text" name="asset_s_Tapes_count"><br>
<input type="checkbox" name="asset_s_Disk media">Disk media <input type="text" name="asset_s_Disk media_count"><br>
<input type="checkbox" name="asset_s_Documents">Documents <input type="text" name="asset_s_Documents_count"><br>
<input type="checkbox" name="asset_s_Flash drive">Flash drive <input type="text" name="asset_s_Flash drive_count"><br>
<input type="checkbox" name="asset_s_Disk drive">Disk drive <input type="text" name="asset_s_Disk drive_count"><br>
<input type="checkbox" name="asset_s_Smart card">Smart card <input type="text" name="asset_s_Smart card_count"><br>
<input type="checkbox" name="asset_s_Payment card">Payment card <input type="text" name="asset_s_Payment card_count"><br>
<input type="checkbox" name="asset_s_Other">Other <input type="text" name="asset_s_Other_count"><br>
