<option value="Deterioration">Deterioration</option>
<option value="Earthquake">Earthquake</option>
<option value="EMI">EMI</option>
<option value="ESD">ESD</option>
<option value="Temperature">Temperature</option>
<option value="Fire">Fire</option>
<option value="Flood">Flood</option>
<option value="Hazmat">Hazmat</option>
<option value="Humidity">Humidity</option>
<option value="Hurricane">Hurricane</option>
<option value="Ice">Ice</option>
<option value="Landslide">Landslide</option>
<option value="Lightning">Lightning</option>
<option value="Meteorite">Meteorite</option>
<option value="Particulates">Particulates</option>
<option value="Pathogen">Pathogen</option>
<option value="Power failure">Power failure</option>
<option value="Tornado">Tornado</option>
<option value="Tsunami">Tsunami</option>
<option value="Vermin">Vermin</option>
<option value="Volcano">Volcano</option>
<option value="Leak">Leak</option>
<option value="Wind">Wind</option>
<option value="Unknown">Unknown</option>
<option value="Other">Other</option>
