<option value="Classification error">Classification error</option>
<option value="Data entry error">Data entry error</option>
<option value="Disposal error">Disposal error</option>
<option value="Gaffe">Gaffe</option>
<option value="Loss">Loss</option>
<option value="Maintenance error">Maintenance error</option>
<option value="Misconfiguration">Misconfiguration</option>
<option value="Misdelivery">Misdelivery</option>
<option value="Misinformation">Misinformation</option>
<option value="Omission">Omission</option>
<option value="Physical accidents">Physical accidents</option>
<option value="Capacity shortage">Capacity shortage</option>
<option value="Programming error">Programming error</option>
<option value="Publishing error">Publishing error</option>
<option value="Malfunction">Malfunction</option>
<option value="Unknown">Unknown</option>
<option value="Other">Other</option>
