<option value="Abuse of functionality">Abuse of functionality</option>
<option value="Brute force">Brute force</option>
<option value="Buffer overflow">Buffer overflow</option>
<option value="Cache poisoning">Cache poisoning</option>
<option value="Session prediction">Session prediction</option>
<option value="CSRF">CSRF</option>
<option value="XSS">XSS</option>
<option value="Cryptanalysis">Cryptanalysis</option>
<option value="DoS">DoS</option>
<option value="Footprinting">Footprinting</option>
<option value="Forced browsing">Forced browsing</option>
<option value="Format string attack">Format string attack</option>
<option value="Fuzz testing">Fuzz testing</option>
<option value="HTTP request smuggling">HTTP request smuggling</option>
<option value="HTTP request splitting">HTTP request splitting</option>
<option value="HTTP response smuggling">HTTP response smuggling</option>
<option value="HTTP Response Splitting">HTTP Response Splitting</option>
<option value="Integer overflows">Integer overflows</option>
<option value="LDAP injection">LDAP injection</option>
<option value="Mail command injection">Mail command injection</option>
<option value="MitM">MitM</option>
<option value="Null byte injection">Null byte injection</option>
<option value="Offline cracking">Offline cracking</option>
<option value="OS commanding">OS commanding</option>
<option value="Path traversal">Path traversal</option>
<option value="RFI">RFI</option>
<option value="Reverse engineering">Reverse engineering</option>
<option value="Routing detour">Routing detour</option>
<option value="Session fixation">Session fixation</option>
<option value="Session replay">Session replay</option>
<option value="Soap array abuse">Soap array abuse</option>
<option value="Special element injection">Special element injection</option>
<option value="SQLi">SQLi</option>
<option value="SSI injection">SSI injection</option>
<option value="URL redirector abuse">URL redirector abuse</option>
<option value="Backdoor or C2">Backdoor or C2</option>
<option value="Stolen creds">Stolen creds</option>
<option value="XML attribute blowup">XML attribute blowup</option>
<option value="XML entity expansion">XML entity expansion</option>
<option value="XML external entities">XML external entities</option>
<option value="XML injection">XML injection</option>
<option value="XPath injection">XPath injection</option>
<option value="XQuery injection">XQuery injection</option>
<option value="Unknown">Unknown</option>
<option value="Other">Other</option>
