<option value="Knowledge abuse">Knowledge abuse</option>
<option value="Privilege abuse">Privilege abuse</option>
<option value="Embezzlement">Embezzlement</option>
<option value="Data mishandling">Data mishandling</option>
<option value="Email misuse">Email misuse</option>
<option value="Net misuse">Net misuse</option>
<option value="Illicit content">Illicit content</option>
<option value="Unapproved workaround">Unapproved workaround</option>
<option value="Unapproved hardware">Unapproved hardware</option>
<option value="Unapproved software">Unapproved software</option>
<option value="Unknown">Unknown</option>
<option value="Other">Other</option>
