<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>VERISweet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ url_for('static',filename='bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static',filename='bootstrap-responsive.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static',filename='verisweet.css') }}" rel="stylesheet" media="screen">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]--> 
  </head>
  <body>
      <div class="container-narrow"> <!-- header stuff -->
        <div class="masthead">
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <h3 class="muted">VERISweet Incident Recording Tool</h3>
        </div>

        <!-- Main Content -->
        <div class="row-fluid">
            <!-- Navigation Controls -->
            <div class="span3">
                <ul class="nav nav-list sweet-sidebar">
                    <li><a href="#"><i class="icon-chevron-right"></i> Incident Tracking</a></li>
                    <li><a href="#"><i class="icon-chevron-right"></i> Victim Demographics</a></li>
                    <li><a href="#"><i class="icon-chevron-right"></i> Actors</a></li>
                    <li><a href="#"><i class="icon-chevron-right"></i> Actions</a></li>
                    <li><a href="#"><i class="icon-chevron-right"></i> Assets</a></li>
                    <li><a href="#"><i class="icon-chevron-right"></i> Attributes</a></li>
                </ul>
            </div> <!-- end of navigation div -->

            <!-- Main form -->
            <div class="span9">
                <form name="incident"  method="post">
                    <h2>Incident Tracking</h2>
                    <div class="form_field halfwidth">
                        <label>Incident id:</label>
                        <input type="text" name="incident_id">
                    </div>
                    <div class="form_field halfwidth">
                        <label>What is the source of the incident information?</label>
                        <input type="text" name="source_id">
                    </div>
                    <div class="form_field halfwidth">
                        <label>Was there a confirmed security compromise?</label>
                        <select name="security_compromise">
                            <option value="confirmed">Confirmed</option>
                            <option value="no">No</option>
                            <option value="Suspected">Suspected</option>
                        </select>
                    </div>
                    <div class="form_field halfwidth">
                        <label>How confident are you that the information provided is correct?</label>
                        <select name="confidence">
                            <option value="high">High</option>
                            <option value="medium">Medium</option>
                            <option value="low">Low</option>
                            <option value="none">None</option>
                        </select>
                    </div>
                    <div style="clear:both"></div>
                    <div class="form_field">
                        <label>Incident Summary</label>
                        <textarea name="summary" rows="5"></textarea>
                    </div>
                    <div class="form_field">
                        <label>Analyst Notes</label>
                        <textarea name="notes" rows="5"></textarea>
                    </div>
                    <hr>
                    <h2>Victim Demographics</h2>
                    <div class="form_field">
                        <label>Victim ID</label>
                        <input type="text" name="victim[0][victim_id]">
                    </div>
                    <div class="form_field">
                        <label>Victim Industry</label>
                        <input type="text" name="victim[0][industry]">
                    </div>
                    <div class="form_field halfwidth">
                        <label>Employee Count</label>
                        <select name="victim[0][employee_count]">
                            {% include 'employee_count.html' %}
                        </select>
                    </div>
                    <div class="form_field halfwidth">
                        <label>Country</label>
                        <input type="text" name="victim[0][country]">
                    </div>
                    <div class="form_field halfwidth">
                        <label>Revenue</label>
                        <input type="text" name="victim[0][revenue][amount]">
                    </div>
                    <div class="form_field halfwidth">
                        <label>Currency</label>
                        <input type="text" name="victim[0][revenue][iso_currency_code]">
                    </div>
                    <div style="clear:both"></div>
                    <div class="form_field">
                        <label>Locations Affected</label>
                        <input type="text" name="victim[0][locations_affected]">
                    </div>
                    <div class="form_field">
                        <label>Victim Notes</label>
                        <textarea name="victim[0][notes]" rows="5"></textarea>
                    </div>
                    <hr>
                    <h2>Actors</h2>
                    <div class="form_field">
                        <label>What variety of threat actors were involved in this incident?</label>
                        <input type="checkbox" name="cb_actor_external" value="external">External<br>
                        <input type="checkbox" name="cb_actor_internal" value="internal">Internal<br>
                        <input type="checkbox" name="cb_actor_partner" value="partner">Partner<br>
                        <input type="checkbox" name="cb_actor_unknown" value="unknown">Unknown<br>
                    </div>
                    <div id="external_actor_questions"> <!-- this div will only be visible if cb_actor_external is checked -->
                        <div class="form_field halfwidth">
                            <label>What motive drove the actor?</label>
                            <select multiple name="actor[external][motive]">
                                {% include 'actor_motive.html' %}
                            </select>
                        </div>
                        <div class="form_field halfwidth">
                            <label>What variety of external actor?</label>
                            <select multiple name="actor[external][role]">
                                {% include 'actor_role.html' %}
                            </select>
                        </div>
                    </div><!-- end of external actor questions -->

                    <hr>
                    <input type="submit" value="Submit">
                </form>
            </div> <!-- end of bootstrap span9 -->
        </div> <!-- end of bootstrap row -->
    </div> <!-- end of container -->
    <script src="{{ url_for('static',filename='jquery-1.9.1.min.js') }}"></script> 
    <script src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
  </body>
</html>
