<option value="Partner facility">Partner facility</option>
<option value="Partner vehicle">Partner vehicle</option>
<option value="Personal residence">Personal residence</option>
<option value="Personal vehicle">Personal vehicle</option>
<option value="Public facility">Public facility</option>
<option value="Public vehicle">Public vehicle</option>
<option value="Victim secure area">Victim secure area</option>
<option value="Victim work area">Victim work area</option>
<option value="Victim public area">Victim public area</option>
<option value="Victim grounds">Victim grounds</option>
<option value="Unknown">Unknown</option>
<option value="Other">Other</option>
