<option value="Auditor">Auditor</option>
<option value="Call center">Call center</option>
<option value="Cashier">Cashier</option>
<option value="Customer">Customer</option>
<option value="End-user">End-user</option>
<option value="Executive">Executive</option>
<option value="Finance">Finance</option>
<option value="Former employee">Former employee</option>
<option value="Helpdesk">Helpdesk</option>
<option value="Human resources">Human resources</option>
<option value="Maintenance">Maintenance</option>
<option value="Manager">Manager</option>
<option value="Partner">Partner</option>
<option value="Guard">Guard</option>
<option value="Developer">Developer</option>
<option value="Administrator">Administrator</option>
<option value="Unknown">Unknown</option>
<option value="Other">Other</option>
