<option value="Baiting">Baiting</option>
<option value="Bribery">Bribery</option>
<option value="Elicitation">Elicitation</option>
<option value="Extortion">Extortion</option>
<option value="Forgery">Forgery</option>
<option value="Influence">Influence</option>
<option value="Scam">Scam</option>
<option value="Phishing">Phishing</option>
<option value="Pretexting">Pretexting</option>
<option value="Propaganda">Propaganda</option>
<option value="Spam">Spam</option>
<option value="Unknown">Unknown</option>
<option value="Other">Other</option>

